/* @import url('https://fonts.googleapis.com/css2?family=Vend+Sans:wght@0,300..700;1,300..700&display=swap'); */
@import url('theme.css');

html {
  font-family: 'Vend sans', sans-serif;
  font-size: 0.18in;
}

article {
  padding: 0 0 0 1rem;

  &[data-dead] {
    display: none;
  }

  textarea {
    width: 100%;
  }
}

h1,
h2 {
  cursor: pointer;
}

h2:has(~ details:not([open])) {
  &::after {
    content: '[🞤]';
  }
}

h2:has(~ details[open]) {
  &::after {
    content: '[─]';
  }
}

details {
  summary {
    display: none;
  }
}
