html {
  box-sizing: border-box;
  background-color: #191919;
  color: #ccc;
  font-family: Sans-serif;
  font-size: 0.18in;
}

body {
  margin: 0;
  min-height: 100vh;
}

main {
  margin: 2rem;

  & hz-page > details:last-child {
    border-bottom: 1px solid #525252ff;
  }

  & hz-page > details > section {
    border-top: 1px solid #525252ff;
    padding: 1rem;
  }

  & hz-page > details {
    border-right: 1px solid #525252ff;
  }

  & hz-page > details > summary h1 {
    color: #dddddd;
  }
}

details[data-deleted] {
  display: none;
}

details {
  display: flex;
  flex-direction: column;
  border-left: 1px solid #525252ff;
  margin-left: 1rem;

  summary {
    display: inline-flex;
    border-top: 1px solid #525252ff;

    h1,
    h2 {
      font-weight: normal;
      margin: 0;
    }

    h1 {
      font-size: 1.5rem;
      padding: 1rem;
    }

    div {
      display: flex;
      flex-direction: column;
      padding: 0.5rem 0 0 0.5rem;
      align-items: center;
      width: 3rem;

      span {
        display: flex;
      }

      span:first-child {
        font-size: 1.5rem;
      }
    }

    h2 {
      line-height: 1.2rem;
      padding: 1rem 1rem 0 1rem;
      font-size: 1rem;
      cursor: pointer;

      span {
        font-weight: bold;
        color: #e07700de;
      }

      &::after {
        content: '⊟';
      }
    }
  }

  section:empty {
    padding: 0;
    margin-bottom: 1rem;
  }

  section {
    display: flex;
    padding: 0 1rem 1rem 1rem;
  }
}

details[open] {
  summary {
    h2 {
      padding-bottom: 0.5rem;

      &::after {
        content: '[─]';
      }
    }
  }
}

details:not([open]) {
  summary {
    h2 {
      padding: 1rem;

      &::after {
        content: '[🞤]';
      }
    }
  }
}

button {
  appearance: none;
  color: inherit;
  background: transparent;
  border: none;
  border-top: 1px solid #525252ff;
  cursor: pointer;
  padding: 0.5rem;
  font-size: 1rem;
  width: 100%;

  &:hover {
    background-color: #313131ff;
  }
}
