html.theme-gruvbox {
  --color-background: #222;
  --color-foreground: #ccc;
  --color-secondary: #888;
  --color-highlight: #eee;
}

html {
  background-color: var(--color-background);
  color: var(--color-foreground);
}

h2 {
  color: var(--color-secondary);

  b,
  i {
    color: var(--color-foreground);
  }
}

a,
button {
  background: inherit;
  color: inherit;
}

button:hover,
a:hover {
  color: var(--color-highlight);
}

a:visited {
  color: var(--color-secondary);
}

article {
  textarea {
    background: inherit;
    color: inherit;
  }
}
