html.theme-gruvbox {
  --color-background: #222;
  --color-foreground: #bbb;
}

html {
  background-color: var(--color-background);
  color: var(--color-foreground);
}

button {
  background: inherit;
  color: inherit;
}

article {
  textarea {
    background: inherit;
    color: inherit;
  }
}
